body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}
input[type='text'] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 300px;
  border: 2px solid gray;
  border-radius: 5px;
}
button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: rgb(36, 36, 235);
}
dialog {
  padding: 20px;
  border: 2px solid gray;

  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
p {
  font-size: 18px;
}
